body {
  background-color: rgba(0, 0, 0, 0.387);
  }

h1 {
  text-transform: uppercase;
  color: rgb(6, 19, 79);
  font-size: 3rem;
}

.poster {
  color: rgb(255, 255, 255);
  text-align: center;
  width: 50%;
  margin-left: 25%;
  margin-top: 100px;
  font-family: "Libre Baskerville", serif;
}

.purpose-img {
  border: 9px solid rgba(254, 254, 254, 0.148);
  width: 100%;
}

p {
  font-size: 1.2rem;
  color: rgb(6, 19, 79);
}






